#container {
  color: #707070;


}

.titleDiv {
  font-size: 1.3rem;
  font-weight: bold;
}
#barre {
  position: absolute;
  left: 0;
}

#header {
  margin: 0 auto;
  text-align: center;
  color: #707070;
  background: white;
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    margin-top: 5px;
    font-size: 1.3rem;
  }
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding-top: 25px;
  padding-bottom: 25px;
}

#newDemand {
  background: #ff4967;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  p {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
  }
  button {
    min-width: 130px;
    width: 45%;
    max-width: 150px;
    border-radius: 25px;
    padding: 7px 25px 7px 25px;
  }
  #refuse {
    border: 1px solid #49b8ff;
    background: white;
    color: #49b8ff;
    margin-right: 10px;
  }
  #accept {
    border: 1px solid #49b8ff;
    background: #49b8ff;
    color: white;
    margin-left: 10px;
  }
  #buttonsNewDemand {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.roundDiv {
  border-radius: 20px;
  background: white;
  margin-top: 20px !important;
  padding: 15px 10px 5px 10px;
  width: calc(100% - 40px);
  margin: 0 auto;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

#barre {
  height: 70%;
  width: 1px;
  background: #eee;
  position: absolute;
  left: 0;
  right: 11px;
  bottom: 10px;
  margin: auto;
}
#infoLit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .detailedData {
    display: flex;
    flex-direction: column;
    width: 49%;
    max-width: 49%;
    justify-content: center;
    align-items: center;
  }
}

.flexDesignLit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  > p {
    font-weight: bold;
  }
  > div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    > p {
      font-size: 0.7rem;
    }
  }
}

.divImgBed {
  width: 50px;
  height: 50px;
  border-radius: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  img {
    width: 30px;
    height: auto;
  }
}

.divAavailabilityBed {
  flex-grow: 1;
  min-width: 85px;
  margin-left: 10px;
  :first-child {
    font-weight: bold;
  }
  .availabilityLit {
    font-size: 0.9rem;
  }
}
.greenBed {
  background-color: #ccf1e5;
}
.redBed {
  background-color: #ffeff2;
}

#actionFiltre {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    > div {
        margin-left: 10px;
        margin-right: 10px;
    }
    select {
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.3);
        background: white;
        color: #707070;
        height: 40px;
        min-width: 130px;
        width: 45%;
        max-width: 150px;
        padding: 7px 25px 7px 25px;
        background: url('/assets/dropdownArrow.png') no-repeat right;
        border-right: 10px solid transparent;
        -webkit-appearance: none;
    }
}

#disponibility {
    display: flex;
    flex-direction: columnAjouter un service ;
    > div {
        margin-top: 10px;
    }
    input {
        margin-right: 5px;
    }
    #lastInput {
        margin-left: 20px;
    }
    margin-bottom: 10px;
}

.center_lit{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}


.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#total {
  width: 40vh;
    height: 12vh;
}
.titleText{
  margin: 3%;
}
.plusLess{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  width: 70%;
  margin: 10% auto 0% auto;

}

input{
  width: 2vh;

}
.type{
  margin: 2vh  10%;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number]  {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;

}
#register{
  background-color: blue;
 padding: 3vh 5vh;
 text-align: center;
 margin : 2vh auto;
 width: 15vh;
 border-radius: 2vh;
 color: #ffff;

}

#add{
  margin:  20%  auto;
  text-align: center;
  background: blue;
  width: calc(100% - 40px);
  padding:  5% 0% ;
  color: #ffff;
  border-radius: 2vh;


}

#thanks {
  background: grey;
  color: #ffff;
  height: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;



}
