<div id="container">
  <div id="header">
      <h1>Gestion des lits</h1>
      <p>{{currentSite?.name}}</p>
  </div>
  <div class="roundDiv" id="newDemand">
      <p class="titleDiv">Nouvelle demande de lit COVID</p>
      <div id="buttonsNewDemand">
          <button id="refuse">Refuser</button>
          <button id="accept">Accepter</button>
      </div>
  </div>
  <div class="roundDiv" id="infoLit">
      <div class="detailedData">
          <p class="titleDiv">Lits COVID</p>
          <div class="flexDesignLit">
              <div>
                  <div class="divImgBed greenBed">
                      <img src="./assets/Bed_available.png">
                  </div>
                  <div class="divAavailabilityBed">
                      <p>{{currentSite?.bedCovidAvailable}}</p>
                      <p class="availabilityLit">Disponibles</p>
                  </div>
              </div>
              <div id="barre"></div>
              <div>
                  <div class="divImgBed redBed">
                      <img src="./assets/Bed_busy.png">
                  </div>
                  <div class="divAavailabilityBed">
                      <p>{{currentSite?.bedCovidUsed}}</p>
                      <p class="availabilityLit">Occupés</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="detailedData">
          <p class="titleDiv">Autres lits</p>
          <div class="flexDesignLit">
              <div>
                  <div class="divImgBed greenBed">
                      <img src="./assets/Bed_available.png">
                  </div>
                  <div class="divAavailabilityBed">
                      <p>{{currentSite?.bedOtherAvailable}}</p>
                      <p class="availabilityLit">Disponibles</p>
                  </div>
              </div>
              <div>
                  <div class="divImgBed redBed">
                      <img src="./assets/Bed_busy.png">
                  </div>
                  <div class="divAavailabilityBed">
                      <p>{{currentSite?.bedOtherUsed}}</p>
                      <p class="availabilityLit">Occupés</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="roundDiv">
      <p class="titleDiv">Filtres</p>
      <div id="actionFiltre">
          <div>
              <p>Service</p>
              <select>
                  <option value="">Tous</option>
              </select>
          </div>
          <div>
              <p>UF</p>
              <select>
                  <option value="">Tous</option>
                  <option *ngFor="let uf of currentSite?.ufs" [value]="uf.id">
                      {{uf.name}}
                  </option>
              </select>
          </div>
      </div>
      <div id="disponibility">
          <p>Disponibilité</p>
          <div>
              <input type="radio" id="huey" name="drone" value="huey" checked>
              <label for="huey">Disponibles</label>
              <input type="radio" id="lastInput" name="drone" value="dewey">
              <label for="dewey">Tous</label>
          </div>
      </div>
  </div>
</div>